@import "./palette.module.scss";

.ui {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $GREY10;
  user-select: none;
  display: flex;

  color: $PRIMARY;
  font-family: "Montserrat", sans-serif;

  .upperLeftStack {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .mainMenu {
      // anything?
    }
  }
}
