@import "./palette.module.scss";

.ui {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  transition: background-color 1s;

  color: $PRIMARY;

  // Globals
  * {
    transition: background-color 0.2s;
    font-family: "Asap", sans-serif;
  }

  .leftStack {
    position: relative;
    height: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 8px;

    .stack {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 8px;
    }
  }

  .device {
    position: fixed;
    left: 513px;
    transition: all 0.4s;
    transform: rotate(90deg);
  }

  .colorPickerPagesDialog {
    position: fixed;
    transition: top 0.4s;
  }

  .presetEditorDialog {
    position: fixed;
    transition: bottom 0.4s;
    width: 672px; // 1100 - 404 - 8 * 3
  }
}
