@import "./palette.module.scss";

.ui {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  background-color: grey; // needs to be dynamic

  color: $PRIMARY;

  // Globals
  * {
    transition: background-color 0.2s;
    font-family: "Montserrat", sans-serif;
  }

  .leftStack {
    position: relative;
    height: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 8px;

    .stack {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 8px;
    }
  }

  .rightStack {
    height: calc(100% - 16px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 8px;

    .stack {
      height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 8px;
    }
  }
}
