@import "../../../../palette.module.scss";

.pagePreview {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  .header {
    width: 100%;
    min-height: 40px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    .title {
      box-sizing: border-box;
      width: calc(100% - 40px /* button size */ - 12px /* button margin */);
      height: 100%;
      min-height: inherit;
      font-size: large;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      word-break: break-word;
      user-select: text;
    }

    .button {
      margin-left: 8px;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .body {
    margin-top: 8px;

    .description {
      font-size: 14px;
      color: $GREY3;
      word-wrap: break-word;
      user-select: text;
    }
  }
}
