@import "../../../palette.module.scss";

.deployPanel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  //background-color: $GREY10;
  overflow: auto; // better than scroll

  .title {
    font-size: 40px; // maybe change
    width: 100%;
  }

  .inner {
    font-size: 16px;
    color: $GREY3;
    text-align: center;
    margin: 8px 0px;
  }

  .importButton {
    margin-top: 8px;
    width: auto;
  }
}
