@import "../../../palette.module.scss";

.pagePanelScrollContianer {
  width: 100%;
  height: 100%;
  overflow-y: scroll; // better than scroll

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
    cursor: pointer;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $GREY4;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $GREY5;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }

  .pagePanel {
    width: 268px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    //background-color: $GREY10;

    .title {
      font-size: 40px; // maybe change
      width: 100%;
      margin-top: 16px;
    }

    .scrollbar {
      width: 100%;
      margin: 8px 0px;
    }

    .preview {
      width: 100%;
      margin: 8px 0px;
    }

    .presets {
      width: 100%;
      margin: 8px 0px;

      .preset {
        margin: 8px 0px;
      }
    }
  }
}
