@import "../../palette.module.scss";

.panel {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: $GREY9;
  border-radius: 4px;
  overflow: hidden;

  .turnaryContainer {
    position: relative;
    width: 300%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: left 0.2s ease-in-out;

    .panelInner {
      width: 268px;
      height: calc(100% - 32px);
      margin: 16px;

      &.pages {
        width: 280px;
        height: 100%;
        margin: 0px 4px 0px 16px;
      }
    }
  }

  .gradientOverlayContainer {
    position: relative;
    width: 0;
    height: 0;

    .gradientOverlayVert {
      position: absolute;
      background: linear-gradient(
        90deg,
        $GREY9 0px,
        rgba(0, 0, 0, 0) 16px,
        rgba(0, 0, 0, 0) calc(100% - 16px),
        $GREY9 100%
      );
      pointer-events: none;

      .gradientOverlayHorz {
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          $GREY9 0px,
          rgba(0, 0, 0, 0) 16px,
          rgba(0, 0, 0, 0) calc(100% - 16px),
          $GREY9 100%
        );
        pointer-events: none;
      }
    }
  }
}
