@import "../../palette.module.scss";

.panel {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: $GREY9;
  border-radius: 4px;
  overflow: hidden;

  .panelInner {
    width: calc(100% - 32px);
    height: calc(100% - 32px);
  }
}
