@import "../../../../palette.module.scss";

.presetDropdown {
  width: 100%;
  display: flex;
  border-radius: 16px;
  background-color: rgba(20, 20, 20, 0.15);
  overflow: hidden;

  .colorFilter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: inherit;
    backdrop-filter: $BACKGROUNDFILTER;

    .header {
      width: 100%;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background-color: $HOVERLIGHT;
      }
      &:active {
        background-color: $PRESSEDLIGHT;
      }

      .number {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: $GREY1;
        background-color: $HOVERLIGHT;
      }

      .name {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $GREY1;
      }

      .chevron {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $HOVERLIGHT;

        svg {
          width: 24px;
          height: 24px;
          color: $GREY1;
        }
      }
      .edit {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
      }
    }
  }
}
