@import "../../../../palette.module.scss";

.presetDropdown {
  width: 100%;
  min-height: 48px;
  display: flex;
  border-radius: 16px;
  background-color: rgba(20, 20, 20, 0.4);
  overflow: hidden;

  .colorFilter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: inherit;

    color: inherit;
    fill: inherit;

    .header {
      width: 100%;
      max-width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      cursor: pointer;

      color: inherit;
      fill: inherit;

      &:hover {
        background-color: $HOVERDARK;
      }
      &:active {
        background-color: $PRESSEDDARK;
      }

      .number {
        width: 40px;
        min-width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        background-color: $HOVERDARK;

        color: inherit;
        fill: inherit;
      }

      .name {
        display: block;
        text-align: center;
        font-size: 14px;
        height: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: inherit;
        fill: inherit;
      }

      .fileName {
        display: block;
        text-align: center;
        font-size: 14px;
        height: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: inherit;
        fill: inherit;
      }

      .chevron {
        width: 40px;
        min-width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $HOVERDARK;

        color: inherit;
        fill: inherit;

        svg {
          width: 20px;
          height: 20px;

          color: inherit;
          fill: inherit;
        }
      }
    }

    .edit {
      width: calc(100% - 32px);
      height: 100%;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      margin: 16px;
      user-select: text;

      .button {
        color: $WHITE;
        height: auto;
        margin-top: 16px;
        user-select: none;
      }
    }
  }
}
