@import "../../../palette.module.scss";

.homePanel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  //background-color: $GREY10;
  overflow: auto; // better than scroll

  .title {
    font-size: 40px; // maybe change
    width: 100%;
  }

  .inner {
    font-size: 16px;
    color: $GREY3;
    margin: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .logo {
      width: auto;
      height: auto;
      margin-bottom: 16px;

      svg {
        width: 250px;
        height: 250px;
      }
    }

    .header {
      color: $WHITE;
      font-size: 24px;
      margin-bottom: 16px;
    }

    .intro {
      width: 100%;
      text-align: center;
      margin-bottom: 16px;
    }

    .importButton {
      width: auto;
    }
  }
}
