@import "../../palette.module.scss";

.mainMenu {
  width: 80px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: $GREY9;
  border-radius: 16px;
  overflow: hidden;
}
