@import "../../../palette.module.scss";

.mainMenuItem {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;

  &.active {
    background-color: $GREY7;

    &:hover {
      background-color: $GREY6;
    }

    &:active {
      background-color: $GREY5;
    }
  }

  &:not(.active) {
    &:hover {
      background-color: $GREY8;
    }

    &:active {
      background-color: $GREY7;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;

    svg {
      width: 30px;
      height: 30px;
      color: $GREY1;
    }
  }

  .label {
    font-size: 12px;
  }
}
